.division{
    background-color: #6F58EE;
    color: white;
    text-align:justify;
    margin: 20px 20px 20px 70px;
    padding: 30px;
    border: 10px solid #866964;
    height: 260px;
    width: 450px;
    float: left;
}